body {
  width: 900px;

  margin: 0 auto;
  background-color: #444;
}
.intro-titles {
  text-align: center;
}

.menu {
  color: rgb(255, 255, 255);
}
h1 {
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-transform: lowercase;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}
.intro {
  font-family: "Montserrat", sans-serif;
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 80%;
  line-height: 1.6;
  padding: 2.5px;
  color: rgb(255, 255, 255);
}
.menu-titles {
  font-style: italic;
  line-height: 2.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  word-spacing: 10px;
  margin-bottom: 25px;
}

.photographer {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;

  color: rgb(255, 255, 255);
  display: inline;
}
.sutro-links {
  color: rgb(255, 255, 255);
}
.cliffhouse-link {
  color: rgb(255, 255, 255);
}

.center {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.flex-container {
  display: flex;

  flex-flow: wrap;
}
