
body {
  width: 800x
  padding: 50px 50px
  margin: 0 auto;
  background-color: #444;
}
.intro-titles {text-align: center;}


.menu {
  color: rgb(255, 255, 255);
}
h1 {
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-transform: lowercase;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}
.intro {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  margin-left: 75px;
  margin-right: 75px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 80%;
  line-height: 1.6;
  padding: 2.5px;
  color: rgb(255, 255, 255);
}
.menu-titles {
  font-style: italic;
  line-height: 2.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  word-spacing: 10px;
}


.photographer {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  
  color: rgb(255, 255, 255);
  padding: 5px;
}
.sutro-links {color: rgb(255, 255, 255);}

.sutro-baths-1 {
  width: 200px;
  height:200px;
padding-top: 30px;}
.sb-description {display: inline;
color: rgb(255, 255, 255);
}
.flexbox-container {justify-content: center;}